<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/61811769-7b8d-4f34-8718-b34fab147032/resourceGroups/Fall2024-Assignment3-cbprice-recource1/providers/Microsoft.Web/sites/Fall2024-Assignment3-cbprice</ResourceId>
    <ResourceGroup>Fall2024-Assignment3-cbprice-recource1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment3-cbprice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment3-cbprice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment3-cbprice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>