@model Actor

<h2>Add New Actor</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IMDBLink"></label>
        <input asp-for="IMDBLink" class="form-control" />
        <span asp-validation-for="IMDBLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoUrl"></label>
        <input asp-for="PhotoUrl" class="form-control" />
        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
